a:hover {
    text-decoration: none;
}

// 上下方logo
.logo {
    display: block;
    background: url(../images/logo-fixie.svg);
    width: 112px;
    height: 48px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.z-1{
    z-index: 10;
}