@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:ital,wght@0,300;1,900&family=Roboto:wght@300&display=swap');

$fz: 10px;

.fz-16 {
    font-size: $fz * 1.6;
    line-height: 1.5;
}

.fz-24 {
    font-size: $fz * 2.4;
}

.fz-24-36 {
    font-size: $fz * 2.4;
    line-height: 1.5;
}

.fz-48 {
    font-size: $fz * 4.8;
    line-height: 1.3;
}

.fz-72 {
    font-size: $fz * 7.2;
    line-height: 1;
}

.fz-96 {
    font-size: $fz * 9.6;
    line-height: 1.3;
}

// fw
.fw-900 {
    font-weight: 900;
}

.fw-bold {
    font-weight: bold;
}

//ff
.ff-Merriweather {
    font-family: 'Merriweather', serif;
}

.ff-Lato {
    font-family: 'Lato', sans-serif;
}

.ff-Roboto {
    font-family: 'Roboto', sans-serif;
}

.collection-fz {
    font-size: $fz * 4.8;
    line-height: 1.25;
    @include xl {
        font-size: $fz * 4;
        // line-height: 1;
    }
    @include lg {
        font-size: $fz * 3;
    }
}
