@mixin box($url, $height) {
    background: url($url);
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-section {
    @include box('../images/img4.jpg', 640px);
    background-attachment: fixed;
    background-position: top;
}


